.hero{
    background: linear-gradient(145deg, #FA676F, #FC558F, #F47464, #f7a499);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 700px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
    font-family: Nunito, sans-serif;
    font-size: 155px;
    font-weight:200;
    line-height: 211px;
    color: #fff;
  position: relative;
      padding-top: 147px;
  text-align: center;
}

h3{
	font-family: Nunito, sans-serif;
	  font-size: 28px;
	  font-weight:400;
	  line-height: 38px;
	  color: #fff;
	position: relative;
	text-align: center;
  }
