@import url(./__image/opp-card__image.css);
@import url(./__image-info/opp-card__image-info.css);
@import url(./__text/opp-card__text.css);
@import url(./__button/opp-card__button.css);
@import url(./__image-container/opp-card__image-container.css);
@import url(./__image-text/opp-card__image-text.css);
@import url(./__heart/opp-card__heart.css);
@import url(./__text/_faint/opp-card__text_faint.css);

.opp-card {
    display: flex;
    flex-direction: column;
    margin: 0 3% 0;
    max-width: 25vw;
}